
body{
	/*font-family: 'Yeseva One', cursive;*/
	font-family: 'Bubblegum Sans';
}

#background {
 background-color: #9fecdb;
  height: auto;
  border-right: 6px solid #000;
  border-radius: 15px;
  border-bottom: 6px solid #000;
}

#background h5 {
    font-size: 31px;
}

#background p {
    font-size: 20px;
}

#background1 {
    background-color: #ffaec0;
     height: auto;
     border-right: 6px solid #000;
     border-radius: 15px;
     border-top: 6px solid #000;
   }
   
   #background1 h5 {
    font-size: 31px;
   }
   
   #background1 p {
       font-size: 20px;
   }

   #background2 {
    background-color: #ffcc1d;
     border-left: 6px solid #000;
     border-radius: 15px;
     border-bottom: 6px solid #000;
   }
   
   #background2 h5 {
    font-size: 31px;
   }
   
   #background2 p {
       font-size: 20px;
   }

.px{
	padding-left: 70px;
	padding-right: 70px;
}
.pl-nav{
	background: #000;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	border-radius: 10px;
}

.pl-footer{
	background: #000;
	color: #fff;
	padding: 10px;
	font-size: 12px;
	border-radius: 10px;
	width: 95px;
	margin-bottom: 30px;
}
.radius{
	border-radius: 15px;
}
form.nosubmit {
  border: none;
  padding: 0;
}
input.nosubmit {
  width: 260px;
  background-color: #fff!important;
  border-radius: 20px;
  border: none;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'  class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
input[type="search"]:focus {
  /*box-shadow: 0 0 3px 0 #1183d6;*/
  border-color: #1183d6;
  outline: none;
}
.loginBtn{
	border-radius: 15px;
	background: #FFFAEC;
	color: black;
	border: none;
}
.loginBtn:focus{
	box-shadow: 0 0 0 0 ;
}
.signupBtn{
	background: orange;
	border-radius: 15px;
	font-size: 18px;
	width: 95px;
}
.signupBtn:focus{
	box-shadow: 0 0 0 0 ;
}
.learnBtn{
	background: #FEA82F;
	border-bottom: 2px solid #000;
	border-radius: 15px;
}
.heading h1{
	font-size: 60px!important;
	line-height: 70px;
}
.sub-heading p{
	font-family: Delius; 
}
.main{
	background: #FFFAEC;
	height: 100vh;
}
.main .banner{
	padding-top: 25vh;
}
.main .banner h1{
	font-size: 40px;
}
.img-background{
	margin-top: -100px; 
}
.curve{
	background: url('../../include/img/illus.png')center/cover no-repeat;
	height: 100px;
	margin-top: -240px;
}
/*===================HEADER ENDS============================*/

/*===================EXPLORE SECTION============================*/

#my_card{
	background: #F8F8F8!important;
	border: none;
}
#my_card p{
	color: #B1B1B0;
	font-size: 20px;
}
#my_card img{
	/*width: 120px; */
	height: 130px;
}
/*===================EXPLOARE SECTION ENDS============================*/

/*===================FOOTER SECTION Starts============================*/
section.footer{
	background: #F8F8F8;
	padding-top: 60px;
}

section.footer p a{
	text-decoration: none;
	font-size: 14px;
	color: grey;
}
.copy{
	border-top: 1px solid grey;
	color: grey;
	background: #E7E7E7;
	height: 55px;
	padding-top: 20px;
}

/*===================FOOTER SECTION ENDS============================*/


/*===================MODAL SECTION STARTS============================*/
#modal-head{
	/*background: blue!important;*/
	border: none;
}
#modal-body{
	padding: 50px 150px 0px 150px;
	/*border-radius: 40px!important;*/
}
#content{
	border-radius: 20px;
}
#modal-body p{
	font-size: 14px;
	font-family: delius;
}
label{
	color: #D5D5D5;
}
input.field {
  background-color: #FFFDF6!important;
  border-radius: 10px;
}
#btnclose{
	background-color: #FFF4F4!important; 
	border-radius: 15px;
}
/*===================MODAL SECTION ENDS============================

 
/*===================MEDIA QUERY STARTS============================*/
@media(max-width: 768px){
	.main{
		height: auto;
	}

	.img-background{
		margin-top: 20px!important; 
	}

	.main .banner{
		text-align: center;
		padding-top: 10vh;
	}

	.heading h1{
		font-size: 40px!important;
		line-height: 50px;
	}

	#modal-body{
		padding: 50px 50px 0px 50px;
	}
	
} 

@media(min-width: 768px) and (max-width: 992px){
	.main{
		height: auto;
	}
	.heading h1{
		font-size: 35px!important;
		line-height: 40px;
	}
	.img-background{
		margin-top: -50px!important; 
	}
	.main .banner h1{
		font-size: 30px;
	}
	.curve{
		margin-top: 0px;
	}
	#modal-body{
		padding: 50px 100px 0px 100px;
	}
}

.gap_100{
    margin-top: 80px;
}

.card {
    border: none;
}

/* Logo school design */
.logo_schools h3{
    margin-top: 30px;
}

.bg_logo {
    background-color: #F8F8F8;
}

.swiper-wrapper {
    margin: 45px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 120%;
    height: 100%;
    object-fit: cover;
  }


.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px!important;
  font-weight: bolder;
  background-color: rgba(235, 231, 231, 0.733); 
  padding: 13px;
  border-radius: 100%;
}

  .swiper-button-next {
    color: rgb(187, 159, 3)!important; 
    margin-right: 0px!important;
}

.swiper-button-prev {
    color: rgb(187, 159, 3)!important; 
    margin-left: 0!important;
}

.swiper-pagination-bullet-active {
    background-color:rgb(187, 159, 3)!important; 
}

/* Right Path */

.right_path h3 {
 /* font-family: cursive;*/
    font-size: 59px;
    line-height: 90px;
}

.group_path {
    width: 90px;
}

.access_path {
   /* font-family: cursive;*/
    font-size: 20px;
    line-height: 39px;
}

/* Card School */

.icon h5 {
    font-size: 29px;
    line-height: 49px;
    margin-top: -20px;
}

.icon p {
    font-size: 18px;
    line-height: 30px;
}

/* All Student */
.all_student {
    width:430px;
}

.all_pl {
    margin-top: 90px;
}

.all_lines {
    width:190px!important;  
}

.all_lines1{
    width:150px!important;  
    margin-top: -180px;
    margin-left: -160px;
    margin-bottom: 20px;
}

.all_circle {
    width: 160px!important; 
    float: right!important;
}

.for_schools h5 {
    text-transform: uppercase;
   /* font-family: cursive;*/
    background-color: rgb(255, 159, 223);
    padding: 10px;
    width: 190px;
    margin-top: 39px;
}

.for_schools h4 {
   font-size: 29px;
    line-height: 50px;
}

.for_schools p {
   /* font-family: cursive;*/
    line-height: 45px;
    font-size: 21px;
}

.for_students h5 {
    text-transform: uppercase;
    background-color: aqua;
    padding: 10px;
    width: 190px;
    margin-top: 39px;
}

.for_students h4 {
    font-size: 29px;
    line-height: 50px;
}

.for_students p {
   /* font-family: cursive;*/
    line-height: 45px;
    font-size: 21px;
}

.student_btn {
    background-color: #faba31!important;
    border-radius: 10px!important;
    padding: 15px!important;
    font-size: 15px!important;
}

.illustrate {
    width: 200px;
   margin: auto!important;
}

.for_parents {
    background-color: #ffce65cb!important;
}

/* Academic */

.academic_img {
    background-image: url('../img/lines2.png');
    height: 400px;
    background-size: cover;
    margin-bottom: 60px;
    display: block;
    box-sizing: border-box;
    background-color: #FEA82F;
    clip-path: ellipse(153% 100% at 50% 0%);
    }

.academic_img h4 {
   /* font-family: cursive;*/
    margin-top: 80px;
    font-size: 54px;
    line-height: 60px;
}

.academic_img p {
   font-size: 19px;
}

.learnBtn1{
	background: #FEA82F;
	border-radius: 15px;
}

.student_btn1 {
    background-color: #ecebe8!important;
    border-radius: 10px!important;
    padding: 10px!important;
    font-size: 15px!important;
    border-bottom: 2px solid #000;
}

.academic_ellli {
    width: 40px;
    margin-top: -130px;
    margin-left: -60px; 
}

.academic_ellli2 {
    width: 40px;
    margin-top: -60px;
    margin-left: -130px; 
}

.academic_ellli3 {
    width: 100px;
    margin-top: 90px;
    margin-left: -10px; 
}

@media(max-width:790px){
    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 10px!important;
      font-weight: bolder;
      background-color: rgba(235, 231, 231, 0.733); 
      padding: 3px;
      border-radius: 100%;
    }

    .curve{
        margin-top: -20px;
    }

    .school_sign {
        margin-top: 20px!important;
    }

    #background {
        margin-bottom: 60px;
    }

    
    #background1 {
        margin-bottom: 60px;
    }

    
    #background2 {
        margin-bottom: 70px;
    }

    .for_schools {
        margin-top: 0!important;
    }

    .for_stu {
        padding: 30px!important;
    }

    .four_walls {
        margin-top: 0!important;
    }

    .for_parents {
        margin-top: 0!important;
    }

    .all_student {
        width:330px;
        margin-top: 90px;
    }

    .all_pl {
        margin-top: -20px;
    }

    .illustrate {
        width: 100px;
        display: none;
    }
    
    .logo_schools img{
        width: 50px!important;
      }

    .gap_100{
        margin-top: 40px;
    }

    .right_path h3 {
        font-size: 29px;
        line-height: 40px;
    }

    .logo_schools h3{
        line-height: 50px;
       }

    .access_path p {
        margin-top: 30px;
    }

    .all_path {
        padding: 30px;
    }

    .icon h5 {
        line-height: 30px;
    }

    .icon {
        margin-left: 0;
    }

    .icon p {
     margin-top: 7px;
    }

    .all_entent {
        width:250px!important;
        margin-top: 20px;
    }
    
    .all_lines {
        display: none;
    }

    .all_lines1{
        width:100px!important;  
        margin-top: -10px;
        display: none;
    }

    .all_line_student {
     padding: 30px;
    }

    .all_circle {
        width:90px!important; 
        margin-left: 140px;  
        margin-top: 40px;
        display: none;
    }

    .for_students p {
        font-size: 16px;
    }

    .for_students {    
            padding: 30px;
    }

    .all_stu {
         margin-top: 50px;
    }

    .academic_img {
        height: 380px;
    }

    .academic_img h4 {
        margin-top: 5px;
        font-size: 20px;
        line-height: 60px;
    }

    .img_card {
        width: 335px!important; 
        height: 360px;
    }
   
    
}

@media(min-width: 1300px) {

    .banner {
      height:800px!important;
    }
}
